*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #F0ECE3;
    color: #1B2021;
    height: auto;
    width: 100vw;
    transition: background-color 700ms ease;
}

header{
    padding:15px;
    background-color: #C7B198;
    color: #F0ECE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 17vh;
    opacity: 80%;  
}
#contButtnsHeader{
    display: flex;
    justify-items: end;
    align-items: baseline;
}
#headerButtons{
    display: flex;
    flex-direction: row;
}
#botonFav{
    background-color:#C7B198;
    color: #F0ECE3 ;
    padding: 1rem;
    margin: .5rem;
    border-color: #F0ECE3;
}
#boton-carrito{
    background-color:#C7B198;
    color: #F0ECE3 ;
    font-size: 1rem;
    padding: .8rem;
    margin: .5rem;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    border-color: #F0ECE3;
}

.darkMode{
    background-color:#483434;
    color:#C7B198;
}
.carousel-item{
    max-height: 80vh;
}
.main{
    padding: 20px 10px 10px 10px;
    display: grid;
}
a{
    text-decoration: none;
    color: #406882;
}

.card{
   margin-top: 1rem; 
}

.card-title{
    font-weight: bolder;
}

.btn-primary{
    background-color: #406882;
    border-color: #406882;
}

.modal-content{
    background-color: #F0ECE3;
}

.modal-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.productoEnCarrito{
    padding: 5px 0px 5px 0px;
}

.precioProducto{
    padding-left: 20px;
}


footer{
    padding: 20px;
    background-color: #C7B198;
    display: flex;
    justify-content: center;

}

h2{
    color: #C7B198;
    margin: auto;
    padding:20px 10px 10px 10px;
    text-align: center;
}
/* BUSCADOR DE ARTICULOS*/
#contBuscador{
    padding:.5rem;
    border-radius: .2em;
    align-items: baseline;
}
#lupita{
    color: #F0ECE3;
    font-size: 1rem;
}
input{
    width: 12rem;
    padding: 5px;
    outline: none;
    border: 1px solid #F0ECE3;;
    border-radius: .2em;
    font-size: 1rem;
}

