*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Quicksand', sans-serif; */
    font-family:Favorit,Helvetica,sans;
    background-color: #F0ECE3;
    color: #1B2021;
    height: auto;
    width: 100vw;
    transition: background-color 700ms ease;
}
/* HEADER */
header{
    padding:15px;
    background-color: #C7B198;
    color: #F0ECE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 17vh;
    opacity: 80%;  
}
#contButtnsHeader{
    display: flex;
    justify-items: end;
    align-items: baseline;
}
#headerButtons{
    display: flex;
    flex-direction: row;
}
#botonFav{
    background-color:#C7B198;
    color: #F0ECE3 ;
    padding: 1rem;
    margin: .5rem;
    border-color: #F0ECE3;
}
#boton-carrito{
    background-color:#C7B198;
    color: #F0ECE3 ;
    font-size: 1rem;
    padding: .8rem;
    margin: .5rem;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    border-color: #F0ECE3;
}

.darkMode{
    background-color:#483434;
    color:#C7B198;
}
.carousel-item{
    max-height: 80vh;
}
.main{
    padding: 20px 10px 10px 10px;
    display: grid;
}
a{
    font-family: Basis, Arial, sans-serif;
    text-decoration: none;
    color: #406882;
}

.card{
   margin-top: 1rem; 
}

.card-title{
    font-weight: 520;
    letter-spacing: .1em;
    word-spacing: .2em;
    color:#406882;
    text-decoration:underline;
}

.btn-primary{
    background-color: #406882;
    border-color: #406882;
}
.btnFav:hover, .btnShop:hover{
    background-color:#3a586c;
}

.modal-content{
    background-color: #F0ECE3;
    font-family: Basis, Arial, sans-serif;

}

.modal-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.productoEnCarrito{
    padding: 5px 0px 5px 0px;
}

.precioProducto{
    padding-left: 20px;
}

/* BUSCADOR DE ARTICULOS*/
#contBuscador{
    padding:.5rem;
    border-radius: .2em;
    align-items: baseline;
}
#lupita{
    color: #F0ECE3;
    font-size: 1rem;
}
input{
    width: 12rem;
    padding: 5px;
    outline: none;
    border: 1px solid #F0ECE3;
    border-radius: .2em;
    font-family: Basis, Arial, sans-serif;
    font-size: .8rem;
}

/* FOOTER */
footer{
    padding: 20px;
    background-color: #C7B198;
    display: flex;
    justify-content: center;

}

/* Slider & greeting */

#greeting{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: auto;
    z-index: 99;
    margin: auto;
}
#greeting h2{
    color:#F0ECE3;
    margin: auto;
    padding:20px 10px 10px 10px;
    text-align: center;
}
#contBtnVer{
    width: 30%;
    position: absolute;
    bottom: 2.5rem;
    left: 30rem;
    z-index: 99;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
#linkVer{
    color:#F0ECE3;
    display: flex;
}
#linkVer :hover{
    color:#afada8 ;
    text-decoration: underline;
}

